@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.selected {
    background-color: aqua;
}

.font_example {
    font-size: 2em;
}

#shantell {
    font-family: 'Shantell Sans', cursive;
}

#glook {
    font-family: 'Gloock', serif;
}

#ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

#bebas {
    font-family: 'Bebas Neue', cursive;
}

#dancing {
    font-family: 'Dancing Script', cursive;
}

#roboto {
    font-family: 'Roboto', sans-serif;
}

.shadow {
    -webkit-box-shadow: 10px 10px 5px 0px var(--green-light);
    -moz-box-shadow: 10px 10px 5px 0px var(--green-light);
    box-shadow: 10px 10px 5px 0px var(--green-light) !important;
}