:root {
    --main: #E9F2FA;
    --green-light:#bde701;
    --green: #9BBF00;
    --bg-green: #4B9528;
    --green-strong: #4B9528;
    --bg-green: #408023;
    --blue: #007BA4;
    --blue-strong: #006690;
    --bg-blue:#015275;
}

body {
    background-color: var(--bg-blue);
    color: var(--main);
}

nav {
    background-color: var(--bg-green);
    font-size: 20px;
}

.NavLink {
    color: var(--main);
}

.NavLink:hover {
    background-color: var(--green);
}

.bg-blue, h2 {
    background-color: var(--blue);
}

a {
    color: var(--green-light);
}

a:hover {
    color: var(--green);
}

.btn {
    background-color: var(--bg-green);
    color: var(--main);
}

.btn:hover+.hide {
    display: block;
    color: var(--main);
}

.rate{
    background-color: var(--main);
    color: var(--bg-blue);
}